//Name: Cave
//Author: by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes)
@base2tone-color-baseA0: #222021;
@base2tone-color-baseA1: #2F2D2E;
@base2tone-color-baseA2: #565254;
@base2tone-color-baseA3: #635F60;
@base2tone-color-baseA4: #706B6D;
@base2tone-color-baseA5: #8A8586;
@base2tone-color-baseA6: #9F999B;
@base2tone-color-baseA7: #B3ADAF;
@base2tone-color-baseB0: #AD1F51;
@base2tone-color-baseB1: #875E6D;
@base2tone-color-baseB2: #936C7A;
@base2tone-color-baseB3: #9C818B;
@base2tone-color-baseB4: #D27998;
@base2tone-color-baseB5: #E28DAB;
@base2tone-color-baseB6: #F0A8C1;
@base2tone-color-baseB7: #FFEBF2;
@base2tone-color-baseC0: #787673;
@base2tone-color-baseC1: #8B8984;
@base2tone-color-baseC2: #9D9B95;
@base2tone-color-baseC3: #AEACA7;
@base2tone-color-baseC4: #C1BEB9;
@base2tone-color-baseC5: #D6D3CC;
@base2tone-color-baseC6: #EAE7E1;
@base2tone-color-baseC7: #FBFAF9;
@base2tone-color-baseD0: #996E00;
@base2tone-color-baseD1: #AA7C09;
@base2tone-color-baseD2: #B88914;
@base2tone-color-baseD3: #C39622;
@base2tone-color-baseD4: #CCA133;
@base2tone-color-baseD5: #DDAF3C;
@base2tone-color-baseD6: #EBBC47;
@base2tone-color-baseD7: #FFCC4D;
