//Name: Desert
//Author: by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes)
@base2tone-color-baseA0: #292724;
@base2tone-color-baseA1: #3D3A34;
@base2tone-color-baseA2: #615C51;
@base2tone-color-baseA3: #7E7767;
@base2tone-color-baseA4: #908774;
@base2tone-color-baseA5: #9F9684;
@base2tone-color-baseA6: #ADA594;
@base2tone-color-baseA7: #BBB4A5;
@base2tone-color-baseB0: #5C523D;
@base2tone-color-baseB1: #6E6045;
@base2tone-color-baseB2: #816F4B;
@base2tone-color-baseB3: #957E50;
@base2tone-color-baseB4: #AC8E53;
@base2tone-color-baseB5: #C6AD7B;
@base2tone-color-baseB6: #DDCBA6;
@base2tone-color-baseB7: #F2EAD9;
@base2tone-color-baseC0: #847B75;
@base2tone-color-baseC1: #978D87;
@base2tone-color-baseC2: #A89F99;
@base2tone-color-baseC3: #B9B1AC;
@base2tone-color-baseC4: #CAC3BE;
@base2tone-color-baseC5: #DCD5D0;
@base2tone-color-baseC6: #EDE7E3;
@base2tone-color-baseC7: #FBFAF9;
@base2tone-color-baseD0: #BC672F;
@base2tone-color-baseD1: #D37231;
@base2tone-color-baseD2: #DD7C3C;
@base2tone-color-baseD3: #E58748;
@base2tone-color-baseD4: #EC9255;
@base2tone-color-baseD5: #F29D63;
@base2tone-color-baseD6: #F8A872;
@base2tone-color-baseD7: #FFB380;
