//Name: Earth
//Author: by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes)
@base2tone-color-baseA0: #322D29;
@base2tone-color-baseA1: #3F3A37;
@base2tone-color-baseA2: #5B534D;
@base2tone-color-baseA3: #6A5F58;
@base2tone-color-baseA4: #796B63;
@base2tone-color-baseA5: #A3948A;
@base2tone-color-baseA6: #B5A9A1;
@base2tone-color-baseA7: #C7BEB8;
@base2tone-color-baseB0: #6F5849;
@base2tone-color-baseB1: #786254;
@base2tone-color-baseB2: #816D5F;
@base2tone-color-baseB3: #88786D;
@base2tone-color-baseB4: #967E6E;
@base2tone-color-baseB5: #A48774;
@base2tone-color-baseB6: #DFB99F;
@base2tone-color-baseB7: #FFF3EB;
@base2tone-color-baseC0: #736D5E;
@base2tone-color-baseC1: #88806D;
@base2tone-color-baseC2: #9A927E;
@base2tone-color-baseC3: #AAA392;
@base2tone-color-baseC4: #BBB4A5;
@base2tone-color-baseC5: #CFC9B9;
@base2tone-color-baseC6: #E2DCD0;
@base2tone-color-baseC7: #F2EFE8;
@base2tone-color-baseD0: #9C8349;
@base2tone-color-baseD1: #B3944D;
@base2tone-color-baseD2: #BFA05A;
@base2tone-color-baseD3: #CDA956;
@base2tone-color-baseD4: #D9B154;
@base2tone-color-baseD5: #E6B84D;
@base2tone-color-baseD6: #F1BE46;
@base2tone-color-baseD7: #FCC440;
