//Name: Evening
//Author: by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes)
@base2tone-color-baseA0: #2A2734;
@base2tone-color-baseA1: #363342;
@base2tone-color-baseA2: #545167;
@base2tone-color-baseA3: #6C6783;
@base2tone-color-baseA4: #787391;
@base2tone-color-baseA5: #8E8AA3;
@base2tone-color-baseA6: #A4A1B5;
@base2tone-color-baseA7: #BAB8C7;
@base2tone-color-baseB0: #6A51E6;
@base2tone-color-baseB1: #7A63EE;
@base2tone-color-baseB2: #8A75F5;
@base2tone-color-baseB3: #9A86FD;
@base2tone-color-baseB4: #AFA0FE;
@base2tone-color-baseB5: #C4B9FE;
@base2tone-color-baseB6: #D9D2FE;
@base2tone-color-baseB7: #EEEBFF;
@base2tone-color-baseC0: #7C756E;
@base2tone-color-baseC1: #90877F;
@base2tone-color-baseC2: #A19991;
@base2tone-color-baseC3: #B2ABA4;
@base2tone-color-baseC4: #C3BDB6;
@base2tone-color-baseC5: #D8D1CA;
@base2tone-color-baseC6: #EBE6E0;
@base2tone-color-baseC7: #FBFAF9;
@base2tone-color-baseD0: #B37537;
@base2tone-color-baseD1: #CB823A;
@base2tone-color-baseD2: #E09142;
@base2tone-color-baseD3: #FFA142;
@base2tone-color-baseD4: #FFAD5C;
@base2tone-color-baseD5: #FFB870;
@base2tone-color-baseD6: #FFC285;
@base2tone-color-baseD7: #FFCC99;
