//Name: Field
//Author: by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes)
@base2tone-color-baseA0: #18201E;
@base2tone-color-baseA1: #242E2C;
@base2tone-color-baseA2: #42524F;
@base2tone-color-baseA3: #5A6D6A;
@base2tone-color-baseA4: #667A77;
@base2tone-color-baseA5: #78918D;
@base2tone-color-baseA6: #8EA4A0;
@base2tone-color-baseA7: #A4B7B4;
@base2tone-color-baseB0: #037764;
@base2tone-color-baseB1: #089B83;
@base2tone-color-baseB2: #0FBDA0;
@base2tone-color-baseB3: #25D0B4;
@base2tone-color-baseB4: #40DDC3;
@base2tone-color-baseB5: #65E6D1;
@base2tone-color-baseB6: #88F2E0;
@base2tone-color-baseB7: #A8FFF1;
@base2tone-color-baseC0: #68736D;
@base2tone-color-baseC1: #78877E;
@base2tone-color-baseC2: #8A9990;
@base2tone-color-baseC3: #9DAAA2;
@base2tone-color-baseC4: #AEBCB4;
@base2tone-color-baseC5: #C7D1CB;
@base2tone-color-baseC6: #E3E8E5;
@base2tone-color-baseC7: #F9FBFA;
@base2tone-color-baseD0: #00943E;
@base2tone-color-baseD1: #0EAA4F;
@base2tone-color-baseD2: #15C15D;
@base2tone-color-baseD3: #25D46E;
@base2tone-color-baseD4: #3BE381;
@base2tone-color-baseD5: #55EC94;
@base2tone-color-baseD6: #69F7A4;
@base2tone-color-baseD7: #85FFB8;
