//Name: Forest
//Author: by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes)
@base2tone-color-baseA0: #2A2D2A;
@base2tone-color-baseA1: #353B35;
@base2tone-color-baseA2: #485148;
@base2tone-color-baseA3: #535F53;
@base2tone-color-baseA4: #5E6E5E;
@base2tone-color-baseA5: #687D68;
@base2tone-color-baseA6: #A1B5A1;
@base2tone-color-baseA7: #B8C7B8;
@base2tone-color-baseB0: #435643;
@base2tone-color-baseB1: #4F634F;
@base2tone-color-baseB2: #5C705C;
@base2tone-color-baseB3: #687D68;
@base2tone-color-baseB4: #8FAE8F;
@base2tone-color-baseB5: #B3D6B3;
@base2tone-color-baseB6: #C8E4C8;
@base2tone-color-baseB7: #F0FFF0;
@base2tone-color-baseC0: #7D816A;
@base2tone-color-baseC1: #90947A;
@base2tone-color-baseC2: #A1A58D;
@base2tone-color-baseC3: #B2B5A1;
@base2tone-color-baseC4: #C3C6B3;
@base2tone-color-baseC5: #D7DAC8;
@base2tone-color-baseC6: #EAECDF;
@base2tone-color-baseC7: #FBFBF8;
@base2tone-color-baseD0: #656B47;
@base2tone-color-baseD1: #818B4B;
@base2tone-color-baseD2: #A2B34D;
@base2tone-color-baseD3: #B1C44F;
@base2tone-color-baseD4: #BFD454;
@base2tone-color-baseD5: #CBE25A;
@base2tone-color-baseD6: #DAF06A;
@base2tone-color-baseD7: #E5FB79;
