//Name: Garden
//Author: by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes)
@base2tone-color-baseA0: #1E1F1E;
@base2tone-color-baseA1: #2B2C2A;
@base2tone-color-baseA2: #505350;
@base2tone-color-baseA3: #5D605C;
@base2tone-color-baseA4: #696D69;
@base2tone-color-baseA5: #828782;
@base2tone-color-baseA6: #969C96;
@base2tone-color-baseA7: #AAB1AA;
@base2tone-color-baseB0: #1C8217;
@base2tone-color-baseB1: #25931F;
@base2tone-color-baseB2: #3FAC39;
@base2tone-color-baseB3: #4CB946;
@base2tone-color-baseB4: #6BCC66;
@base2tone-color-baseB5: #90D98C;
@base2tone-color-baseB6: #B7E3B5;
@base2tone-color-baseB7: #DCF0DB;
@base2tone-color-baseC0: #837467;
@base2tone-color-baseC1: #978678;
@base2tone-color-baseC2: #A7988B;
@base2tone-color-baseC3: #B7AA9F;
@base2tone-color-baseC4: #C7BCB2;
@base2tone-color-baseC5: #DBD0C7;
@base2tone-color-baseC6: #ECE5DF;
@base2tone-color-baseC7: #FBFAF8;
@base2tone-color-baseD0: #BD5D0F;
@base2tone-color-baseD1: #C96A1D;
@base2tone-color-baseD2: #D97726;
@base2tone-color-baseD3: #DD843C;
@base2tone-color-baseD4: #DB9257;
@base2tone-color-baseD5: #DBA070;
@base2tone-color-baseD6: #D9AF8C;
@base2tone-color-baseD7: #E0CAB8;
