//Name: Heath
//Author: by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes)
@base2tone-color-baseA0: #222022;
@base2tone-color-baseA1: #2F2D2F;
@base2tone-color-baseA2: #575158;
@base2tone-color-baseA3: #635F63;
@base2tone-color-baseA4: #6F6B70;
@base2tone-color-baseA5: #89858A;
@base2tone-color-baseA6: #9E999F;
@base2tone-color-baseA7: #B3ADB3;
@base2tone-color-baseB0: #A21FAD;
@base2tone-color-baseB1: #845E87;
@base2tone-color-baseB2: #8F6C93;
@base2tone-color-baseB3: #9A819C;
@base2tone-color-baseB4: #CB79D2;
@base2tone-color-baseB5: #DB8DE2;
@base2tone-color-baseB6: #EAA8F0;
@base2tone-color-baseB7: #FDEBFF;
@base2tone-color-baseC0: #787673;
@base2tone-color-baseC1: #8B8884;
@base2tone-color-baseC2: #9D9A95;
@base2tone-color-baseC3: #AEABA7;
@base2tone-color-baseC4: #C1BDB9;
@base2tone-color-baseC5: #D6D2CC;
@base2tone-color-baseC6: #EAE6E1;
@base2tone-color-baseC7: #FBFAF9;
@base2tone-color-baseD0: #995900;
@base2tone-color-baseD1: #AA6709;
@base2tone-color-baseD2: #B87414;
@base2tone-color-baseD3: #C38022;
@base2tone-color-baseD4: #CC8C33;
@base2tone-color-baseD5: #D9B98C;
@base2tone-color-baseD6: #E6C699;
@base2tone-color-baseD7: #FFD599;
