//Name: Lake
//Author: by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes)
@base2tone-color-baseA0: #192D34;
@base2tone-color-baseA1: #223C44;
@base2tone-color-baseA2: #335966;
@base2tone-color-baseA3: #3D6876;
@base2tone-color-baseA4: #467686;
@base2tone-color-baseA5: #508495;
@base2tone-color-baseA6: #7BA8B7;
@base2tone-color-baseA7: #ADC8D1;
@base2tone-color-baseB0: #2F7289;
@base2tone-color-baseB1: #36829B;
@base2tone-color-baseB2: #3E91AC;
@base2tone-color-baseB3: #499FBC;
@base2tone-color-baseB4: #62B1CB;
@base2tone-color-baseB5: #7DC2D9;
@base2tone-color-baseB6: #A5D8E9;
@base2tone-color-baseB7: #E1F7FF;
@base2tone-color-baseC0: #7A7971;
@base2tone-color-baseC1: #8D8C81;
@base2tone-color-baseC2: #9F9D93;
@base2tone-color-baseC3: #B1AFA5;
@base2tone-color-baseC4: #C2C1B7;
@base2tone-color-baseC5: #D5D4CD;
@base2tone-color-baseC6: #E8E7E3;
@base2tone-color-baseC7: #FAFAF9;
@base2tone-color-baseD0: #84740B;
@base2tone-color-baseD1: #978611;
@base2tone-color-baseD2: #B7A21A;
@base2tone-color-baseD3: #C4B031;
@base2tone-color-baseD4: #CBBB4D;
@base2tone-color-baseD5: #D6C65C;
@base2tone-color-baseD6: #E9D763;
@base2tone-color-baseD7: #FFEB66;
