//Name: Lavender
//Author: by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes)
@base2tone-color-baseA0: #201D2A;
@base2tone-color-baseA1: #2C2839;
@base2tone-color-baseA2: #4B455F;
@base2tone-color-baseA3: #625A7C;
@base2tone-color-baseA4: #6E658B;
@base2tone-color-baseA5: #827A9F;
@base2tone-color-baseA6: #9992B0;
@base2tone-color-baseA7: #AFA9C1;
@base2tone-color-baseB0: #7451E6;
@base2tone-color-baseB1: #8363EE;
@base2tone-color-baseB2: #9375F5;
@base2tone-color-baseB3: #A286FD;
@base2tone-color-baseB4: #B5A0FE;
@base2tone-color-baseB5: #C9B9FE;
@base2tone-color-baseB6: #DCD2FE;
@base2tone-color-baseB7: #EFEBFF;
@base2tone-color-baseC0: #7C6F85;
@base2tone-color-baseC1: #8E8198;
@base2tone-color-baseC2: #A092AA;
@base2tone-color-baseC3: #B2A4BC;
@base2tone-color-baseC4: #C4B6CE;
@base2tone-color-baseC5: #D8CCE0;
@base2tone-color-baseC6: #ECE4F1;
@base2tone-color-baseC7: #FAF8FC;
@base2tone-color-baseD0: #B042FF;
@base2tone-color-baseD1: #B957FF;
@base2tone-color-baseD2: #C16BFF;
@base2tone-color-baseD3: #CA80FF;
@base2tone-color-baseD4: #D294FF;
@base2tone-color-baseD5: #DBA8FF;
@base2tone-color-baseD6: #E3BDFF;
@base2tone-color-baseD7: #ECD1FF;
