//Name: Mall
//Author: by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes)
@base2tone-color-baseA0: #1E1E1F;
@base2tone-color-baseA1: #2B2B2C;
@base2tone-color-baseA2: #515053;
@base2tone-color-baseA3: #5E5C60;
@base2tone-color-baseA4: #6A686E;
@base2tone-color-baseA5: #838188;
@base2tone-color-baseA6: #97959D;
@base2tone-color-baseA7: #ACAAB1;
@base2tone-color-baseB0: #855EE8;
@base2tone-color-baseB1: #936DF3;
@base2tone-color-baseB2: #A17EFC;
@base2tone-color-baseB3: #B294FF;
@base2tone-color-baseB4: #C5ADFF;
@base2tone-color-baseB5: #D3C2FF;
@base2tone-color-baseB6: #E5DBFF;
@base2tone-color-baseB7: #F4F0FF;
@base2tone-color-baseC0: #6D767E;
@base2tone-color-baseC1: #7E8891;
@base2tone-color-baseC2: #909AA2;
@base2tone-color-baseC3: #A2ABB3;
@base2tone-color-baseC4: #B5BDC4;
@base2tone-color-baseC5: #C8D2DA;
@base2tone-color-baseC6: #DEE6ED;
@base2tone-color-baseC7: #F8FAFC;
@base2tone-color-baseD0: #3692E2;
@base2tone-color-baseD1: #479EEB;
@base2tone-color-baseD2: #5AABF2;
@base2tone-color-baseD3: #69B5F7;
@base2tone-color-baseD4: #75BFFF;
@base2tone-color-baseD5: #8AC8FF;
@base2tone-color-baseD6: #9ED2FF;
@base2tone-color-baseD7: #B3DBFF;
