//Name: Meadow
//Author: by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes)
@base2tone-color-baseA0: #192834;
@base2tone-color-baseA1: #223644;
@base2tone-color-baseA2: #335166;
@base2tone-color-baseA3: #3D5E76;
@base2tone-color-baseA4: #466B86;
@base2tone-color-baseA5: #507895;
@base2tone-color-baseA6: #7B9EB7;
@base2tone-color-baseA7: #7B9EB7;
@base2tone-color-baseB0: #1B6498;
@base2tone-color-baseB1: #2172AB;
@base2tone-color-baseB2: #277FBE;
@base2tone-color-baseB3: #4299D7;
@base2tone-color-baseB4: #47ADF5;
@base2tone-color-baseB5: #8DCEFC;
@base2tone-color-baseB6: #AFDDFE;
@base2tone-color-baseB7: #D1ECFF;
@base2tone-color-baseC0: #757B6F;
@base2tone-color-baseC1: #878E80;
@base2tone-color-baseC2: #99A092;
@base2tone-color-baseC3: #ABB1A5;
@base2tone-color-baseC4: #BDC3B7;
@base2tone-color-baseC5: #D1D6CD;
@base2tone-color-baseC6: #E6E8E3;
@base2tone-color-baseC7: #FAFBF9;
@base2tone-color-baseD0: #4D8217;
@base2tone-color-baseD1: #59931F;
@base2tone-color-baseD2: #66A329;
@base2tone-color-baseD3: #73B234;
@base2tone-color-baseD4: #80BF40;
@base2tone-color-baseD5: #8CDD3C;
@base2tone-color-baseD6: #99EB47;
@base2tone-color-baseD7: #A6F655;
