//Name: Morning
//Author: by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes)
@base2tone-color-baseA0: #232834;
@base2tone-color-baseA1: #31363F;
@base2tone-color-baseA2: #4F5664;
@base2tone-color-baseA3: #656E81;
@base2tone-color-baseA4: #707A8F;
@base2tone-color-baseA5: #7E889A;
@base2tone-color-baseA6: #8D95A5;
@base2tone-color-baseA7: #A9AFBC;
@base2tone-color-baseB0: #063289;
@base2tone-color-baseB1: #0B3C9D;
@base2tone-color-baseB2: #1659DF;
@base2tone-color-baseB3: #3D75E6;
@base2tone-color-baseB4: #728FCB;
@base2tone-color-baseB5: #93ABDC;
@base2tone-color-baseB6: #B7C9EB;
@base2tone-color-baseB7: #DEE6F7;
@base2tone-color-baseC0: #544D40;
@base2tone-color-baseC1: #69604F;
@base2tone-color-baseC2: #867B65;
@base2tone-color-baseC3: #9C927C;
@base2tone-color-baseC4: #B6AD9A;
@base2tone-color-baseC5: #CDC4B1;
@base2tone-color-baseC6: #E3DCCE;
@base2tone-color-baseC7: #FAF8F5;
@base2tone-color-baseD0: #2D2006;
@base2tone-color-baseD1: #594212;
@base2tone-color-baseD2: #896724;
@base2tone-color-baseD3: #9A7C42;
@base2tone-color-baseD4: #B29762;
@base2tone-color-baseD5: #C6B28B;
@base2tone-color-baseD6: #D1C2A3;
@base2tone-color-baseD7: #E5DDCD;
