//Name: Motel
//Author: by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes)
@base2tone-color-baseA0: #242323;
@base2tone-color-baseA1: #373434;
@base2tone-color-baseA2: #5A5354;
@base2tone-color-baseA3: #766B6C;
@base2tone-color-baseA4: #86797B;
@base2tone-color-baseA5: #94898B;
@base2tone-color-baseA6: #A5979A;
@base2tone-color-baseA7: #B3A8AA;
@base2tone-color-baseB0: #674C50;
@base2tone-color-baseB1: #7D5E63;
@base2tone-color-baseB2: #956F76;
@base2tone-color-baseB3: #A7868B;
@base2tone-color-baseB4: #B89DA2;
@base2tone-color-baseB5: #CCB3B7;
@base2tone-color-baseB6: #DEC9CC;
@base2tone-color-baseB7: #F0DBDF;
@base2tone-color-baseC0: #847875;
@base2tone-color-baseC1: #978A87;
@base2tone-color-baseC2: #A89C99;
@base2tone-color-baseC3: #B9AEAC;
@base2tone-color-baseC4: #CAC0BE;
@base2tone-color-baseC5: #DCD2D0;
@base2tone-color-baseC6: #EDE5E3;
@base2tone-color-baseC7: #FBF9F9;
@base2tone-color-baseD0: #E24F32;
@base2tone-color-baseD1: #EA5F43;
@base2tone-color-baseD2: #F6684C;
@base2tone-color-baseD3: #F77C64;
@base2tone-color-baseD4: #F8917C;
@base2tone-color-baseD5: #FFA28F;
@base2tone-color-baseD6: #FFB3A3;
@base2tone-color-baseD7: #FFC8BD;
