//Name: Pool
//Author: by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes)
@base2tone-color-baseA0: #2A2433;
@base2tone-color-baseA1: #372F42;
@base2tone-color-baseA2: #574B68;
@base2tone-color-baseA3: #635775;
@base2tone-color-baseA4: #706383;
@base2tone-color-baseA5: #857897;
@base2tone-color-baseA6: #9A90A7;
@base2tone-color-baseA7: #AFA7B9;
@base2tone-color-baseB0: #8F51E6;
@base2tone-color-baseB1: #9D63EE;
@base2tone-color-baseB2: #AA75F5;
@base2tone-color-baseB3: #B886FD;
@base2tone-color-baseB4: #C7A0FE;
@base2tone-color-baseB5: #D6B9FE;
@base2tone-color-baseB6: #E4D2FE;
@base2tone-color-baseB7: #F3EBFF;
@base2tone-color-baseC0: #7A7171;
@base2tone-color-baseC1: #8D8281;
@base2tone-color-baseC2: #9F9393;
@base2tone-color-baseC3: #B0A6A6;
@base2tone-color-baseC4: #C2B8B7;
@base2tone-color-baseC5: #D7CCCB;
@base2tone-color-baseC6: #EAE1E1;
@base2tone-color-baseC7: #FBF9F9;
@base2tone-color-baseD0: #CF504A;
@base2tone-color-baseD1: #D95F59;
@base2tone-color-baseD2: #ED655E;
@base2tone-color-baseD3: #F36F68;
@base2tone-color-baseD4: #F87972;
@base2tone-color-baseD5: #FC8983;
@base2tone-color-baseD6: #FF9E99;
@base2tone-color-baseD7: #FFB6B3;
