//Name: Porch
//Author: by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes)
@base2tone-color-baseA0: #221E24;
@base2tone-color-baseA1: #302A32;
@base2tone-color-baseA2: #574E5A;
@base2tone-color-baseA3: #645A68;
@base2tone-color-baseA4: #716774;
@base2tone-color-baseA5: #8B808E;
@base2tone-color-baseA6: #9F95A3;
@base2tone-color-baseA7: #B3AAB5;
@base2tone-color-baseB0: #674573;
@base2tone-color-baseB1: #7E548C;
@base2tone-color-baseB2: #9466A3;
@base2tone-color-baseB3: #A77CB6;
@base2tone-color-baseB4: #BA95C6;
@base2tone-color-baseB5: #CDACD7;
@base2tone-color-baseB6: #DFCBE6;
@base2tone-color-baseB7: #F2E3F7;
@base2tone-color-baseC0: #7E736D;
@base2tone-color-baseC1: #91857E;
@base2tone-color-baseC2: #A29790;
@base2tone-color-baseC3: #B3A9A2;
@base2tone-color-baseC4: #C4BBB5;
@base2tone-color-baseC5: #DACFC8;
@base2tone-color-baseC6: #EDE3DE;
@base2tone-color-baseC7: #FCF9F8;
@base2tone-color-baseD0: #C46731;
@base2tone-color-baseD1: #D97136;
@base2tone-color-baseD2: #E17F47;
@base2tone-color-baseD3: #EC8D55;
@base2tone-color-baseD4: #F39B68;
@base2tone-color-baseD5: #F8AA7C;
@base2tone-color-baseD6: #FCB58D;
@base2tone-color-baseD7: #FFC29E;
