//Name: Sea
//Author: by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes)
@base2tone-color-baseA0: #1D262F;
@base2tone-color-baseA1: #27323F;
@base2tone-color-baseA2: #405368;
@base2tone-color-baseA3: #4A5F78;
@base2tone-color-baseA4: #738191;
@base2tone-color-baseA5: #8A96A3;
@base2tone-color-baseA6: #A1AAB5;
@base2tone-color-baseA7: #B8BFC7;
@base2tone-color-baseB0: #004A9E;
@base2tone-color-baseB1: #1757A1;
@base2tone-color-baseB2: #34659D;
@base2tone-color-baseB3: #57718E;
@base2tone-color-baseB4: #6E9BCF;
@base2tone-color-baseB5: #7EB6F6;
@base2tone-color-baseB6: #AFD4FE;
@base2tone-color-baseB7: #EBF4FF;
@base2tone-color-baseC0: #717A77;
@base2tone-color-baseC1: #818D89;
@base2tone-color-baseC2: #939F9B;
@base2tone-color-baseC3: #A6B0AD;
@base2tone-color-baseC4: #B7C2BE;
@base2tone-color-baseC5: #CBD7D3;
@base2tone-color-baseC6: #E1EAE7;
@base2tone-color-baseC7: #F9FBFA;
@base2tone-color-baseD0: #067953;
@base2tone-color-baseD1: #088C60;
@base2tone-color-baseD2: #0AA370;
@base2tone-color-baseD3: #0DB57D;
@base2tone-color-baseD4: #0FC78A;
@base2tone-color-baseD5: #14E19D;
@base2tone-color-baseD6: #2AEAAA;
@base2tone-color-baseD7: #47EBB4;
