//Name: Space
//Author: adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes)
@base2tone-color-baseA0: #24242E;
@base2tone-color-baseA1: #333342;
@base2tone-color-baseA2: #515167;
@base2tone-color-baseA3: #5B5B76;
@base2tone-color-baseA4: #737391;
@base2tone-color-baseA5: #8A8AA3;
@base2tone-color-baseA6: #A1A1B5;
@base2tone-color-baseA7: #B8B8C7;
@base2tone-color-baseB0: #5151E6;
@base2tone-color-baseB1: #6363EE;
@base2tone-color-baseB2: #7676F4;
@base2tone-color-baseB3: #767693;
@base2tone-color-baseB4: #8A8AAD;
@base2tone-color-baseB5: #AAAACA;
@base2tone-color-baseB6: #CECEE3;
@base2tone-color-baseB7: #EBEBFF;
@base2tone-color-baseC0: #7B736F;
@base2tone-color-baseC1: #8E8580;
@base2tone-color-baseC2: #A09792;
@base2tone-color-baseC3: #B1A9A5;
@base2tone-color-baseC4: #C3BBB7;
@base2tone-color-baseC5: #D8CFCB;
@base2tone-color-baseC6: #EAE4E1;
@base2tone-color-baseC7: #FBF9F9;
@base2tone-color-baseD0: #B25424;
@base2tone-color-baseD1: #CB5C25;
@base2tone-color-baseD2: #DD672C;
@base2tone-color-baseD3: #E66E33;
@base2tone-color-baseD4: #EC7336;
@base2tone-color-baseD5: #F37B3F;
@base2tone-color-baseD6: #F88349;
@base2tone-color-baseD7: #FE8C52;
