//Name: Suburb
//Author: by Bram de Haan, adapted from DuoTone themes by Simurai (http://simurai.com/projects/2016/01/01/duotone-themes)
@base2tone-color-baseA0: #1E202F;
@base2tone-color-baseA1: #292C3D;
@base2tone-color-baseA2: #444864;
@base2tone-color-baseA3: #4F5472;
@base2tone-color-baseA4: #5B6080;
@base2tone-color-baseA5: #6E7396;
@base2tone-color-baseA6: #878BA6;
@base2tone-color-baseA7: #9FA2B7;
@base2tone-color-baseB0: #5165E6;
@base2tone-color-baseB1: #6375EE;
@base2tone-color-baseB2: #7586F5;
@base2tone-color-baseB3: #8696FD;
@base2tone-color-baseB4: #A0ACFE;
@base2tone-color-baseB5: #B9C2FE;
@base2tone-color-baseB6: #D2D8FE;
@base2tone-color-baseB7: #EBEDFF;
@base2tone-color-baseC0: #7A7175;
@base2tone-color-baseC1: #8D8186;
@base2tone-color-baseC2: #9F9398;
@base2tone-color-baseC3: #B0A6AA;
@base2tone-color-baseC4: #C2B7BC;
@base2tone-color-baseC5: #D7CBD0;
@base2tone-color-baseC6: #EAE1E5;
@base2tone-color-baseC7: #FBF9FA;
@base2tone-color-baseD0: #D14781;
@base2tone-color-baseD1: #E44E8C;
@base2tone-color-baseD2: #F25A99;
@base2tone-color-baseD3: #F764A1;
@base2tone-color-baseD4: #FB6FA9;
@base2tone-color-baseD5: #FE81B5;
@base2tone-color-baseD6: #FF99C3;
@base2tone-color-baseD7: #FFB3D2;
