// scheme  Dark
//Converted from https://raw.githubusercontent.com/atelierbram/Base2Tone-sublime-text/refs/heads/master/db/templates/dark-alt.ejs
//Original Author: Atelierbram - adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)

//Block Cursor 
.syntax--block_cursor {
  color: @base2tone-color-baseA0;
  background-color: @base2tone-color-baseD4;
}

//Comments 

.syntax--comment {
  color: @syntax-color-comment;

  //Comments 
  &.syntax--block.syntax--html {
    color: @syntax-color-comment;
  }
  &.syntax--line.syntax--double-slash {
  
    //Comments 
    &.syntax--js {
      color: @syntax-color-comment;
    }
  
    //Comments 
    &.syntax--php {
      color: @syntax-color-comment;
    }
  }
}

//Constants 

.syntax--constant {
  color: @syntax-color-constant;

  //Support 
  &.syntax--character {
    color: @base2tone-color-baseD7;
  
    //Escape Characters 
    &.syntax--escape {
      color: @base2tone-color-baseD7;
    }
  }

  //Support 
  &.syntax--language {
    color: @base2tone-color-baseD7;
  }

  //Integers 
  &.syntax--numeric {
    color: @base2tone-color-baseD7;
  }

  //Support 
  &.syntax--other {
    color: @base2tone-color-baseD7;
  
    //Colors 
    &.syntax--color {
      color: @base2tone-color-baseD7;
    }
  
    //Strings, Inherited Class 
    &.syntax--symbol {
      color: @syntax-color-string;
    }
  }
}

.syntax--entity {
  &.syntax--name {
  
    //Classes 
    &.syntax--class {
      color: @syntax-color-class;
    }
  
    //Functions 
    &.syntax--function {
      color: @syntax-color-function;
    }
  
    //Headings 
    &.syntax--section {
      font-weight: normal;
      font-style: normal;
      color: @base2tone-color-baseB7;
    }
  
    //Tags 
    &.syntax--tag {
      color: @syntax-color-tag;
    
      //Functions 
      &.syntax--block.syntax--any.syntax--html {
        color: @syntax-color-function;
      }
    
      //Functions 
      &.syntax--css {
        color: @syntax-color-function;
      }
    
      //Comments 
      &.syntax--doctype.syntax--html {
        color: @syntax-color-comment;
      }
    
      //Functions 
      &.syntax--other.syntax--html {
        color: @syntax-color-function;
      }
    
      //Functions 
      &.syntax--structure.syntax--any.syntax--html {
        color: @syntax-color-function;
      }
    
      //Selector 
      &.syntax--wildcard.syntax--css {
        color: @base2tone-color-baseB7;
      }
    }
  
    //Classes 
    &.syntax--type.syntax--class {
      color: @syntax-color-class;
    }
  }
  &.syntax--other {
  
    //Functions 
    &.syntax--attribute-name {
      color: @syntax-color-function;
    
      //Selector 
      &.syntax--class.syntax--css {
        color: @base2tone-color-baseB7;
      }
    
      //Attributes 
      &.syntax--html {
        color: @syntax-color-attribute;
      }
    
      //Attribute IDs 
      &.syntax--id {
        color: @base2tone-color-baseD5;
      }
    }
  
    //Classes 
    &.syntax--inherited-class {
      color: @syntax-color-class;
    }
  }
}

.syntax--invalid {

  //Broken 
  &.syntax--broken {
    background-color: @base2tone-color-baseD3;
    color: @base2tone-color-baseA0;
  }

  //Deprecated 
  &.syntax--deprecated {
    background-color: @base2tone-color-baseB1;
    color: @base2tone-color-baseB7;
  }

  //Illegal 
  &.syntax--illegal {
    background-color: @base2tone-color-baseB0;
    color: @base2tone-color-baseB7;
  }

  //Unimplemented 
  &.syntax--unimplemented {
    background-color: @base2tone-color-baseA3;
    color: @base2tone-color-baseB7;
  }
}

//Keywords 

.syntax--keyword {
  color: @syntax-color-keyword;

  //Operators 
  &.syntax--control {
    color: @base2tone-color-baseD4;
  
    //Functions 
    &.syntax--at-rule {
      color: @syntax-color-function;
    }
  }

  //Operators 
  &.syntax--operator {
    color: @base2tone-color-baseD4;
  
    //Selector 
    &.syntax--sass {
      color: @base2tone-color-baseB7;
    }
  }

  //Units 
  &.syntax--other {
    color: @base2tone-color-baseD4;
  
    //Methods 
    &.syntax--special-method {
      color: @syntax-color-method;
    }
  }
}

.syntax--markup {

  //Bold 
  &.syntax--bold {
    font-weight: bold;
    color: @base2tone-color-baseD4;
  }

  //Changed 
  &.syntax--changed {
    color: @base2tone-color-baseB2;
  }

  //Deleted 
  &.syntax--deleted {
    color: @base2tone-color-baseB0;
  }

  //Headings 
  &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
    font-weight: normal;
    font-style: normal;
    color: @base2tone-color-baseB7;
  }

  //Inserted 
  &.syntax--inserted {
    color: @base2tone-color-baseC0;
  }

  //Italic 
  &.syntax--italic {
    font-style: italic;
    color: @base2tone-color-baseB2;
  }

  //Lists 
  &.syntax--list {
    color: @base2tone-color-baseB0;
  }

  //Quotes 
  &.syntax--quote {
    color: @base2tone-color-baseD2;
  }

  //Code 
  &.syntax--raw.syntax--inline {
    color: @base2tone-color-baseC0;
  }
}

.syntax--meta {
  &.syntax--brace {
  
    //Punctuation 
    &.syntax--curly.syntax--js {
      color: @base2tone-color-baseA2;
    }
  
    //Comments 
    &.syntax--round.syntax--js {
      color: @syntax-color-comment;
    }
  }

  //Classes 
  &.syntax--class {
    color: @syntax-color-class;
  }

  //Functions 
  &.syntax--function-call {
    color: @syntax-color-function;
  }

  //Link Url 
  &.syntax--link {
    color: @base2tone-color-baseD2;
  }

  //Functions 
  &.syntax--require {
    color: @syntax-color-function;
  }

  //Selector 
  &.syntax--selector {
    color: @base2tone-color-baseB7;
  
    //Selector 
    &.syntax--css {
      color: @base2tone-color-baseB7;
    }
  }

  //Separator 
  &.syntax--separator {
    background-color: @base2tone-color-baseA2;
    color: @base2tone-color-baseB3;
  }
  &.syntax--tag {
  
    //Functions 
    &.syntax--block.syntax--any.syntax--html {
      color: @syntax-color-function;
    }
      &.syntax--sgml {
    
      //Comments 
      &.syntax--doctype.syntax--html {
        color: @syntax-color-comment;
      }
    
      //Comments 
      &.syntax--html {
        color: @syntax-color-comment;
      }
    }
  }
}

//Comments 

.syntax--punctuation {
  color: @syntax-color-comment;
  &.syntax--definition {
  
    //Punctuation 
    &.syntax--array {
      color: @base2tone-color-baseA2;
    }
  
    //Bold 
    &.syntax--bold {
      font-weight: bold;
      color: @base2tone-color-baseD4;
    }
  
    //Comments 
    &.syntax--comment {
      color: @syntax-color-comment;
    
      //Comments 
      &.syntax--js {
        color: @syntax-color-comment;
      }
    
      //Comments 
      &.syntax--php {
        color: @syntax-color-comment;
      }
    }
  
    //Attribute IDs 
    &.syntax--entity {
      color: @base2tone-color-baseD5;
    
      //Comments 
      &.syntax--css {
        color: @syntax-color-comment;
      }
    }
  
    //Italic 
    &.syntax--italic {
      font-style: italic;
      color: @base2tone-color-baseB2;
    }
  
    //Punctuation 
    &.syntax--parameters {
      color: @base2tone-color-baseA2;
    }
  
    //Punctuation 
    &.syntax--string {
      color: @base2tone-color-baseA2;
    
      //Link Text 
      &.syntax--end.syntax--markdown {
        color: @base2tone-color-baseB0;
      }
    }
  
    //Punctuation 
    &.syntax--variable {
      color: @base2tone-color-baseA2;
    }
  }

  //Embedded 
  &.syntax--section.syntax--embedded {
    color: @base2tone-color-baseB1;
  
    //Comments 
    &.syntax--begin.syntax--php {
      color: @syntax-color-comment;
    }
  }
}

.syntax--source {
  &.syntax--java .syntax--meta.syntax--class.syntax--java .syntax--meta {
  
    //Java Class Body 
    &.syntax--class.syntax--body.syntax--java {
      color: @base2tone-color-baseC7;
    }
  
    //Java Source 
    &.syntax--method.syntax--java {
      color: @base2tone-color-baseC7;
    }
  }

  //Strings, Inherited Class 
  &.syntax--js {
    color: @syntax-color-string;
      .syntax--meta {
          &.syntax--block.syntax--js {
      
        //Javascript: Block Variables in Function Calls 
        .syntax--meta.syntax--function-call.syntax--method.syntax--js .syntax--variable.syntax--other.syntax--readwrite.syntax--js {
          color: @base2tone-color-baseC7;
        }
              .syntax--variable.syntax--other {
        
          //Javascript: Block Variables 
          &.syntax--object.syntax--js {
            color: @base2tone-color-baseC7;
          }
        
          //Javascript: New Block Variables 
          &.syntax--readwrite.syntax--js {
            color: @base2tone-color-baseD3;
          }
        }
      }
    
      //Javascript: Function Arguments 
      &.syntax--function.syntax--js .syntax--variable.syntax--parameter.syntax--function.syntax--js {
        color: @base2tone-color-baseD3;
      }
          &.syntax--function-call.syntax--method.syntax--js .syntax--variable {
      
        //Javascript: Function Calls 
        &.syntax--function.syntax--js {
          color: @base2tone-color-baseC7;
        }
      
        //Javascript: Variables in Function Calls 
        &.syntax--other.syntax--readwrite.syntax--js {
          color: @base2tone-color-baseD3;
        }
      }
    
      //Javascript: Properties 
      &.syntax--property.syntax--object.syntax--js .syntax--entity.syntax--name.syntax--function.syntax--js {
        color: @base2tone-color-baseC7;
      }
    }
  
    //Javascript: Prototypes 
    .syntax--support.syntax--constant.syntax--prototype.syntax--js {
      color: @base2tone-color-baseC7;
    }
      .syntax--variable.syntax--other {
    
      //Javascript: Variables 
      &.syntax--object.syntax--js {
        color: @base2tone-color-baseC7;
      }
    
      //Javascript: New Variables 
      &.syntax--readwrite.syntax--js {
        color: @base2tone-color-baseD3;
      }
    }
  }

  //Comments 
  &.syntax--php {
    color: @syntax-color-comment;
  
    //Comments 
    &.syntax--embedded.syntax--block.syntax--html {
      color: @syntax-color-comment;
    }
  }
}

//Storage 

.syntax--storage {
  color: @base2tone-color-baseB2;

  //Support 
  &.syntax--type {
    color: @base2tone-color-baseD7;
  }
}

//Strings, Inherited Class 

.syntax--string {
  color: @syntax-color-string;

  //Link Text 
  &.syntax--other.syntax--link {
    color: @base2tone-color-baseB0;
  }
  &.syntax--quoted {
  
    //Support 
    &.syntax--double {
      color: @base2tone-color-baseD7;
    }
  
    //Support 
    &.syntax--single {
      color: @base2tone-color-baseD7;
    }
  }

  //Regular Expressions 
  &.syntax--regexp {
    color: @base2tone-color-baseD7;
  }
}

.syntax--support {

  //Operators 
  &.syntax--class {
    color: @base2tone-color-baseB5;
  }

  //Support 
  &.syntax--constant {
    color: @base2tone-color-baseD7;
  }

  //Operators 
  &.syntax--function {
    color: @base2tone-color-baseB5;
  
    //Functions 
    &.syntax--any-method {
      color: @syntax-color-function;
    }
  
    //Operators 
    &.syntax--construct {
      color: @base2tone-color-baseB5;
    }
  }

  //Operators 
  &.syntax--type.syntax--property-name.syntax--css {
    color: @base2tone-color-baseB5;
  }
}

.syntax--text.syntax--html {

  //Text 
  &.syntax--basic {
    color: @base2tone-color-baseB5;
  }

  //Comments 
  &.syntax--mt {
    color: @syntax-color-comment;
  }
}

//Variables 

.syntax--variable {
  color: @syntax-color-variable;

  //Embedded 
  &.syntax--interpolation {
    color: @base2tone-color-baseB1;
  }

  //Variables 
  &.syntax--other {
    color: @syntax-color-variable;
  }

  //Variables 
  &.syntax--parameter.syntax--function {
    color: @syntax-color-variable;
  }
}
