// scheme  Dark
//Converted from https://raw.githubusercontent.com/atelierbram/Base2Tone-sublime-text/refs/heads/master/db/templates/dark-alt.ejs
//Original Author: Atelierbram - adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)

// General colors
@syntax-text-color:                         @base2tone-color-baseA5;
@syntax-cursor-color:                       @base2tone-color-baseD2;
@syntax-selection-color:                    @base2tone-color-baseA2;
@syntax-selection-flash-color:              @syntax-text-color;
@syntax-background-color:                   @base2tone-color-baseA0;

// Guide colors
@syntax-wrap-guide-color:                   @syntax-selection-color;
@syntax-indent-guide-color:                 @base2tone-color-baseA1;
@syntax-invisible-character-color:          @syntax-indent-guide-color;

// For find and replace markers
@syntax-result-marker-color:                @syntax-selection-color;
@syntax-result-marker-color-selected:       @syntax-text-color;

// Gutter colors
@syntax-gutter-text-color:                  @base2tone-color-baseA4;
@syntax-gutter-text-color-selected:         @base2tone-color-baseA7;
@syntax-gutter-background-color:            if(@base2tone-contrastGutter, @syntax-indent-guide-color, @syntax-background-color);
@syntax-gutter-background-color-selected:   @syntax-gutter-background-color;

// For git diff info. i.e. in the gutter
@syntax-color-renamed:                      hsl(hue(blue), saturation(@syntax-cursor-color), lightness(@syntax-cursor-color));
@syntax-color-added:                        hsl(hue(green), saturation(@syntax-cursor-color), lightness(@syntax-cursor-color));
@syntax-color-modified:                     hsl(hue(orange), saturation(@syntax-cursor-color), lightness(@syntax-cursor-color));
@syntax-color-removed:                      hsl(hue(red), saturation(@syntax-cursor-color), lightness(@syntax-cursor-color));

// For language entity colors
@syntax-color-variable:                     @base2tone-color-baseB5;
@syntax-color-comment:                      @base2tone-color-baseA3;
@syntax-color-constant:                     @base2tone-color-baseD2;
@syntax-color-property:                     @syntax-text-color;
@syntax-color-value:                        @base2tone-color-baseD2;
@syntax-color-function:                     @base2tone-color-baseB7;
@syntax-color-method:                       @base2tone-color-baseD5;
@syntax-color-class:                        @base2tone-color-baseB7;
@syntax-color-keyword:                      @base2tone-color-baseB2;
@syntax-color-tag:                          @base2tone-color-baseB7;
@syntax-color-attribute:                    @base2tone-color-baseB5;
@syntax-color-string:                       @base2tone-color-baseB5;
@syntax-color-import:                       @syntax-color-keyword;
@syntax-color-snippet:                      @syntax-color-string;
