// scheme  Dark
//Converted from https://raw.githubusercontent.com/atelierbram/Base2Tone-sublime-text/refs/heads/master/db/templates/light-alt.ejs
//Original Author: Atelierbram - adapted from: Simurai (https://github.com/simurai/duotone-dark-syntax/)

// General colors
@syntax-text-color:                         @base2tone-color-baseC2;
@syntax-cursor-color:                       @base2tone-color-baseD2;
@syntax-selection-color:                    @base2tone-color-baseC5;
@syntax-selection-flash-color:              @syntax-text-color;
@syntax-background-color:                   @base2tone-color-baseC7;

// Guide colors
@syntax-wrap-guide-color:                   @syntax-selection-color;
@syntax-indent-guide-color:                 @base2tone-color-baseC6;
@syntax-invisible-character-color:          @syntax-indent-guide-color;

// For find and replace markers
@syntax-result-marker-color:                @syntax-selection-color;
@syntax-result-marker-color-selected:       @syntax-text-color;

// Gutter colors
@syntax-gutter-text-color:                  @base2tone-color-baseC3;
@syntax-gutter-text-color-selected:         @base2tone-color-baseC0;
@syntax-gutter-background-color:            if(@base2tone-contrastGutter, @syntax-indent-guide-color, @syntax-background-color);
@syntax-gutter-background-color-selected:   @syntax-gutter-background-color;

// For git diff info. i.e. in the gutter
@syntax-color-added:                        .change-hue(green, @syntax-cursor-color)[@result];
@syntax-color-modified:                     .change-hue(orange, @syntax-cursor-color)[@result];
@syntax-color-removed:                      .change-hue(red, @syntax-cursor-color)[@result];
@syntax-color-renamed:                      .change-hue(blue, @syntax-cursor-color)[@result];

// For language entity colors
@syntax-color-variable:                     @base2tone-color-baseD2;
@syntax-color-constant:                     @base2tone-color-baseD2;
@syntax-color-property:                     @syntax-text-color;
@syntax-color-value:                        @base2tone-color-baseD2;
@syntax-color-function:                     @base2tone-color-baseD0;
@syntax-color-method:                       @base2tone-color-baseB2;
@syntax-color-class:                        @base2tone-color-baseD0;
@syntax-color-keyword:                      @base2tone-color-baseB2;
@syntax-color-tag:                          @base2tone-color-baseD0;
@syntax-color-attribute:                    @base2tone-color-baseD2;
@syntax-color-import:                       @syntax-color-keyword;
@syntax-color-string:                       @base2tone-color-baseB5;
@syntax-color-snippet:                      @syntax-color-string;
@syntax-color-comment:                      @base2tone-color-baseC4;

// Terminal variables

// The ordinary text color of the terminal.
@terminal-text-color:                       @syntax-text-color;
// The background color of the terminal.
@terminal-background-color:                 @syntax-background-color;
// The background color of a selected text block.
@terminal-selection-background-color:       @syntax-selection-color;
// The text color of selected text.
@terminal-selection-text-color:             @syntax-text-color;
// The color of the cursor.
@terminal-cursor-color:                     @syntax-cursor-color;

// The color of the outline around a “find” result when it is inactive.
@terminal-result-marker-color:              @syntax-result-marker-color;
// The color of the outline around a “find” result when it is active.
@terminal-result-marker-color-selected:     @syntax-result-marker-color-selected;

@terminal-color-black:                      if(@base2tone-colorfulTerminal, greyscale(@syntax-background-color), @base2tone-color-baseC7);
@terminal-color-red:                        if(@base2tone-colorfulTerminal, .change-hue(red, @syntax-cursor-color)[@result], @base2tone-color-baseD0);
@terminal-color-green:                      if(@base2tone-colorfulTerminal, .change-hue(green, @syntax-cursor-color)[@result], @base2tone-color-baseD3);
@terminal-color-yellow:                     if(@base2tone-colorfulTerminal, .change-hue(yellow, @syntax-cursor-color)[@result], @base2tone-color-baseD4);
@terminal-color-blue:                       if(@base2tone-colorfulTerminal, .change-hue(blue, @syntax-cursor-color)[@result], @base2tone-color-baseB0);
@terminal-color-magenta:                    if(@base2tone-colorfulTerminal, .change-hue(magenta, @syntax-cursor-color)[@result], @base2tone-color-baseD2);
@terminal-color-cyan:                       if(@base2tone-colorfulTerminal, .change-hue(cyan, @syntax-cursor-color)[@result], @base2tone-color-baseB4);
@terminal-color-white:                      if(@base2tone-colorfulTerminal, greyscale(@syntax-text-color), @base2tone-color-baseC3);

@terminal-color-bright-black:               if(@base2tone-colorfulTerminal, lighten(@terminal-color-black, 10%), @base2tone-color-baseA2);
@terminal-color-bright-red:                 if(@base2tone-colorfulTerminal, lighten(@terminal-color-red, 10%), @base2tone-color-baseB5);
@terminal-color-bright-green:               if(@base2tone-colorfulTerminal, lighten(@terminal-color-green, 10%), @base2tone-color-baseA7);
@terminal-color-bright-yellow:              if(@base2tone-colorfulTerminal, lighten(@terminal-color-yellow, 10%), @base2tone-color-baseD5);
@terminal-color-bright-blue:                if(@base2tone-colorfulTerminal, lighten(@terminal-color-blue, 10%), @base2tone-color-baseB4);
@terminal-color-bright-magenta:             if(@base2tone-colorfulTerminal, lighten(@terminal-color-magenta, 10%), @base2tone-color-baseC4);
@terminal-color-bright-cyan:                if(@base2tone-colorfulTerminal, lighten(@terminal-color-cyan, 10%), @base2tone-color-baseB6);
@terminal-color-bright-white:               if(@base2tone-colorfulTerminal, lighten(@terminal-color-white, 10%), @base2tone-color-baseC7);
