[submodule "schemes"]
	path = schemes
	url = git@github.com:tinted-theming/schemes.git
[submodule "tools/spectrum"]
	path = tools/spectrum
	url = git@github.com:alexmirrington/base16-spectrum-generator.git
