// scheme  Dark
//Converted from https://raw.githubusercontent.com/atelierbram/Base2Tone-sublime-text/refs/heads/master/db/templates/light-alt.ejs


// General colors
@syntax-text-color:                         @base2tone-color-baseC4;   //@base2tone-color-baseC4;
@syntax-cursor-color:                       @base2tone-color-baseD2;   //@base2tone-color-baseD2;
@syntax-selection-color:                    @base2tone-color-baseC5;   //@base2tone-color-baseC5;
@syntax-selection-flash-color:              @base2tone-color-baseC4;   //@base2tone-color-baseC4;
@syntax-background-color:                   @base2tone-color-baseC7;   //@base2tone-color-baseC7;

// Guide colors
@syntax-wrap-guide-color:                   @base2tone-color-baseC7;   //@base2tone-color-baseC7;
@syntax-indent-guide-color:                 @base2tone-color-baseC7;   //@base2tone-color-baseC7;
@syntax-invisible-character-color:          @base2tone-color-baseC7;   //@base2tone-color-baseC7;

// For find and replace markers
@syntax-result-marker-color:                @base2tone-color-baseC5;   //@base2tone-color-baseC5;
@syntax-result-marker-color-selected:       @base2tone-color-baseC4;   //@base2tone-color-baseC4;

// Gutter colors
@syntax-gutter-text-color:                  @base2tone-color-baseC6;   //@base2tone-color-baseC6;
@syntax-gutter-text-color-selected:         @base2tone-color-baseC6;   //@base2tone-color-baseC6;
@syntax-gutter-background-color:            @base2tone-color-baseC7;   //@base2tone-color-baseC7;
@syntax-gutter-background-color-selected:   @base2tone-color-baseC7;   //@base2tone-color-baseC7;

// For git diff info. i.e. in the gutter
@syntax-color-renamed:                      @syntax-cursor-color;                      //@base16-color-base0D;
@syntax-color-added:                        @syntax-cursor-color;                     //@base16-color-base0B;
@syntax-color-modified:                     @syntax-cursor-color;                    //@base16-color-base09;
@syntax-color-removed:                      @syntax-cursor-color;                       //@base16-color-base08;

// For language entity colors
@syntax-color-variable:                     @syntax-cursor-color;                       //@base16-color-base08;
@syntax-color-comment:                      @syntax-cursor-color;                     //@base16-color-base0B;
@syntax-color-constant:                     @syntax-cursor-color;                    //@base16-color-base09;
@syntax-color-property:                     @syntax-text-color;
@syntax-color-value:                        @syntax-cursor-color;                     //@base16-color-base0B;
@syntax-color-function:                     @syntax-cursor-color;                      //@base16-color-base0D;
@syntax-color-method:                       @syntax-color-function;
@syntax-color-class:                        @syntax-cursor-color;                    //@base16-color-base0A;
@syntax-color-keyword:                      @syntax-cursor-color;                    //@base16-color-base0E;
@syntax-color-tag:                          @syntax-cursor-color;                       //@base16-color-base08;
@syntax-color-attribute:                    @syntax-cursor-color;                    //@base16-color-base09;
@syntax-color-import:                       @syntax-cursor-color;                    //@base16-color-base0E;
@syntax-color-snippet:                      @syntax-cursor-color;                     //@base16-color-base0B;
@syntax-color-string:                       @syntax-cursor-color;                     //@base16-color-base0B;
