@base16-scheme: 'evening';
@base16-style: 'dark';
@base16-contrastGutter: true;

@import "schemes/@{base16-scheme}";
@import "@{base2tone-style}/syntax";
@import "@{base2tone-style}/syntax-variables";
