@base2tone-scheme: 'evening';
@base2tone-style: 'dark';
@base2tone-contrastGutter: true;

@import "schemes/@{base2tone-scheme}";
@import "@{base2tone-style}/syntax";
@import "@{base2tone-style}/syntax-variables";
